<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>YOUR-ANON-KEY</string>
	<key>SUPABASE_URL</key>
	<string>https://YOUR-PROJECT-REF.supabase.co</string>
	<key>TEST_PASSWORD_DEMO</key>
	<string>&lt;nur-lokal-eintragen&gt;</string>
	<key>TEST_PASSWORD_DEVELOPER</key>
	<string>&lt;nur-lokal-eintragen&gt;</string>
	<key>TEST_PASSWORD_TESTER</key>
	<string>&lt;nur-lokal-eintragen&gt;</string>
</dict>
</plist>
